/* CUSTOM STYLES FOR ACCENT JAVASCRIPT PARSER */
.acc-custom {
	background-color: #101;
	color: #CCC;
}

.acc-custom .js-string,
.acc-custom .js-type {
	color: #949;
}

.acc-custom .js-declaration, 
.acc-custom .js-operation, 
.acc-custom .js-special {
	color: #797;
	font-weight: bold !important;
}

.acc-custom .js-global {
	color: #737;
	font-weight: bold !important;
}

.acc-custom .js-comment {
	color: #555;
	font-style: italic !important;
}

.acc-custom .js-regexp {
	color: #A84;
}
 
.acc-custom .js-numeric {
	color: #FD5;
}