/*************************************
 * General Language Properties
 *************************************/

/*************************************
 * JAVASCRIPT Highlighter Properties
 *************************************/
.js-operation {
	color: #09a;
}

.js-special {
	color: #21a;
}

.js-doc {
	color: #a02;
}

.js-keyword {
	font-weight: bold !important;
}

.js-declaration {
	color: #06D;
}

.js-args {
	color: #aaa;
}

.js-double-str {
	color: #590;
}

.js-single-str {
	color: #290;
}

.js-regexp {
	color: #A52;
}

.js-comment-il {
	color: #666;
}

.js-comment-ml {
	color: #555;
}

.js-type {
	color: #01A;
}

.js-numeric {
	color: #c66;
}

.js-global {
	color: #A00;
}