/*************************************
 * General Properties
 *************************************/

/*************************************
 * THEME properties
 *************************************/

 pre[class*='acc-'] {
 	overflow-x: scroll;
	word-wrap: normal;
	padding: 1.2%;
	font-size: 1em;
 }

.acc-dark {
	background-color: #222;
	color: #DDD;
}

.acc-light {
	background-color: #F5F5F5;
	color: #222;
}

.acc-muddy {
	background-color: #101;
	color: #CCC;
}

/*************************************
 * JAVASCRIPT Highlighter Properties
 *************************************/

/*********** JAVASCRIPT **************/

/* CONSTANT STYLES */

.acc-dark .js-string,
.acc-light .js-string {
	color: #6B6;
}

 /* DARK THEME */

.acc-dark .js-declaration, 
.acc-dark .js-operation, 
.acc-dark .js-special {
	color: #69F;
	font-weight: bold !important;
}

.acc-dark .js-global {
	color: #C8F;
	font-weight: bold !important;
}

.acc-dark .js-comment {
	color: #AAA;
	font-style: italic !important;
}

.acc-dark .js-regexp {
	color: #A84;
}

.acc-dark .js-dom {
	color: #D22;
}

.acc-dark .js-type, .acc-dark .js-numeric {
	color: #F80;
}

/* LIGHT THEME */

.acc-light .js-declaration, 
.acc-light .js-operation, 
.acc-light .js-special {
	color: #C48;
	font-weight: bold !important;
}

.acc-light .js-global {
	color: #55F;
	font-weight: bold !important;
}

.acc-light .js-comment {
	color: #888;
	font-style: italic !important;
}

.acc-light .js-regexp {
	color: #F5A;
}

.acc-light .js-dom {
	color: #F62;
}

.acc-light .js-type, .acc-light .js-numeric {
	color: #F2A;
}

/* MUDDY THEME */
.acc-muddy .js-string,
.acc-muddy .js-type {
	color: #949;
}

.acc-muddy .js-declaration,
.acc-muddy .js-operation,
.acc-muddy .js-special {
	color: #797;
	font-weight: bold !important;
}

.acc-muddy .js-global {
	color: #737;
	font-weight: bold !important;
}

.acc-muddy .js-comment {
	color: #555;
	font-style: italic !important;
}

.acc-muddy .js-regexp {
	color: #A84;
}
 
.acc-muddy .js-numeric {
	color: #FD5;
}
