/*************************************
 * General Language Properties
 *************************************/

/*************************************
 * JAVASCRIPT Highlighter Properties
 *************************************/
.js-keyword {
	font-weight: bold !important;
}

.js-declaration, .js-operation, .js-special {
	color: #06D;
}

.js-doc {
	color: #a02;
}

.js-args {
	color: #aaa;
}

.js-double-str {
	color: #590;
}

.js-single-str {
	color: #290;
}

.js-regexp {
	color: #A52;
}

.js-comment {
	color: #AAA;
	font-style: italic;
}

.js-type, .js-numeric {
	color: #C00;
}